<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">

    <form #customerForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">

            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualizado com sucesso!
                </div>

                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>

            </div>
        </div>

        <div class="row" *ngIf="customer.id">

            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="customer.id" name="id">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Cadastro:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="customer.registerDate" name="registerDate">
                </div>
            </div>

        </div>

        <div class="row">
        
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.name" name="nome">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.cpf" name="cpf">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save mr-2"></i> Salvar
                </button>
            </div>
        </div>

    </form>

</div>